Repository sPHENIX-Collaboration/macros, pull requests merged in 2020-05, with the labels that each got.

#240 added macro to plot number of clusters per layer per track.
  macros/QA/tracking/QA_Draw_ALL.sh
  macros/QA/tracking/QA_Draw_Tracking_TruthMatching_NumOfClusters.C
  macros/QA/tracking/QA_Draw_Tracking_nClus_Layer.C
Labels: CI-track-high-occ-QA-FAIL, CI-track-low-occ-QA-AVAILABLE

#242 Upstream/tracking low occupancy qa clusters
  macros/QA/tracking/QA_Draw_Tracking_nClus_Layer.C
  macros/QA/tracking/QA_Draw_Utility.C
Labels: CI-track-high-occ-QA-FAIL, CI-track-low-occ-QA-AVAILABLE

#241 Sync tracking high occupancy QA
  macros/QA/tracking/QA_Draw_ALL.sh
  macros/QA/tracking/QA_Draw_Tracking_TruthMatching_NumOfClusters.C
  macros/QA/tracking/QA_Draw_Tracking_nClus_Layer.C
  macros/QA/tracking/QA_Draw_Utility.C
  macros/g4simulations/Fun4All_G4_EICDetector.C
  macros/g4simulations/G4Setup_EICDetector.C
  macros/g4simulations/G4_DSTReader_EICDetector.C
  macros/g4simulations/G4_EEMC.C
  macros/g4simulations/G4_FEMC_EIC.C
  macros/g4simulations/G4_FHCAL.C
  macros/g4simulations/G4_GEM_EIC.C
  macros/g4simulations/G4_Pipe_EIC.C
  macros/g4simulations/G4_RICH.C
  macros/g4simulations/G4_Svtx_maps_ladders+intt_ladders+tpc_KalmanPatRec_EIC.C
  macros/g4simulations/G4_Tracking_EIC.C
Labels: CI-track-high-occ-QA-AVAILABLE

#243 added cluster size histograms
  macros/QA/tracking/QA_Draw_Intt.C
  macros/QA/tracking/QA_Draw_Mvtx.C
Labels: CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE

#238 New macro scheme
  .clang-format
  macros/g4simulations/DisplayOn.C
  macros/g4simulations/Fun4All_G4_EICDetector.C
  macros/g4simulations/G4Setup_EICDetector.C
  macros/g4simulations/G4_Aerogel.C
  macros/g4simulations/G4_BlackHole.C
  macros/g4simulations/G4_CEmc_EIC.C
  macros/g4simulations/G4_DIRC.C
  macros/g4simulations/G4_EEMC.C
  macros/g4simulations/G4_FEMC.C
  macros/g4simulations/G4_FEMC_EIC.C
  macros/g4simulations/G4_FGEM_fsPHENIX.C
  macros/g4simulations/G4_FHCAL.C
  macros/g4simulations/G4_FwdJets.C
  macros/g4simulations/G4_GEM_EIC.C
  macros/g4simulations/G4_HcalIn_EIC.C
  macros/g4simulations/G4_HcalIn_ref.C
  macros/g4simulations/G4_HcalOut_ref.C
  macros/g4simulations/G4_Magnet.C
  macros/g4simulations/G4_Mvtx.C
  macros/g4simulations/G4_PSTOF.C
  macros/g4simulations/G4_Pipe_EIC.C
  macros/g4simulations/G4_PlugDoor_EIC.C
  macros/g4simulations/G4_PlugDoor_fsPHENIX.C
  macros/g4simulations/G4_RICH.C
  macros/g4simulations/G4_Svtx_maps_ladders+intt_ladders+tpc_KalmanPatRec_EIC.C
  macros/g4simulations/G4_TPC_EIC.C
  macros/g4simulations/G4_Tracking_EIC.C
  macros/g4simulations/G4_User.C
  macros/g4simulations/G4_WorldSize.C
  macros/g4simulations/GlobalVariables.C
Labels: preview
