Repository sPHENIX-Collaboration/macros, pull requests merged in 2020-09, with the labels that each got.

#276 updates on INTT
  common/G4_Intt.C
  macros/g4simulations/G4_Tracking.C
Labels: CI-DST-readback-PASS, CI-build-x8664_sl7-new-PASS, CI-calo-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-AVAILABLE

#291 Adding gaussian fits with sigma labels to appropriate QA plots, also …
  macros/QA/tracking/QA_Draw_ALL.sh
  macros/QA/tracking/QA_Draw_DCAZ.C
  macros/QA/tracking/QA_Draw_DCArPhi.C
  macros/QA/tracking/QA_Draw_SigmalizedDCA.C
  macros/QA/tracking/QA_Draw_Tracking_pTRatio.C
  macros/QA/tracking/QA_Draw_VertexResnTracks.C
  macros/QA/tracking/QA_Draw_VertexResolution.C
Labels: CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE

#267 Acts Introduction
  common/G4_Tracking.C
  macros/g4simulations/G4_Tracking.C
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-FAIL, CI-build-gcc-8.3-play-FAIL, CI-build-x8664_sl7-new-FAIL, CI-calo-QA-AVAILABLE, CI-track-high-occ-QA-FAIL, CI-track-low-occ-QA-AVAILABLE, CI-valgrind-FAIL, do-not-merge
