Repository sPHENIX-Collaboration/macros, pull requests merged in 2020-08, with the labels that each got.

#273 Beta version of MVTX service barrel
  common/G4_Mvtx.C
  macros/g4simulations/Fun4All_G4_sPHENIX.C
  macros/g4simulations/G4Setup_sPHENIX.C
  macros/g4simulations/G4_MvtxService.C
Labels: CI-DST-readback-PASS, CI-build-gcc-8.3-new-PASS, CI-build-x8664_sl7-new-PASS, CI-valgrind-AVAILABLE

#278 Plot titles updated to reflect cuts made
  macros/QA/tracking/QA_Draw_ALL.sh
  macros/QA/tracking/QA_Draw_DCA_Resolution.C
  macros/QA/tracking/QA_Draw_Tracking_RecoTruthMatching.C
Labels: CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE

#279 Fit curves added to to upsilon overview plots
  macros/QA/tracking/QA_Draw_Tracking_UpsilonOverview.C
Labels: CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE

#281 Variable CEMC parameters from calibrations file
  common/G4_CEmc_Spacal.C
  macros/g4simulations/G4_CEmc_Spacal.C
Labels: CI-build-x8664_sl7-new-PASS, CI-calo-QA-AVAILABLE, CI-track-high-occ-QA-AVAILABLE, CI-track-low-occ-QA-AVAILABLE
